<div class="dashboard-page">
  <h1 class="page-title">📊 Fraud Detection Dashboard</h1>

  <!-- Status -->
  <p *ngIf="loading" class="muted">Loading analytics...</p>
  <p *ngIf="error" class="error">{{ error }}</p>

  <!-- Summary Cards -->
  <div class="stats-grid" *ngIf="stats">
    <div class="stat-blue-card gradient-blue">
      <h3>Total Transactions</h3>
      <p class="big">{{ stats.totalTransactions }}</p>
    </div>

    <div class="stat-red-card gradient-red">
      <h3>Fraud Transactions</h3>
      <p class="big">{{ stats.fraudCount }}</p>
    </div>

    <div class="stat-yellow-card gradient-yellow">
      <h3>Fraud Percentage</h3>
      <p class="big">{{ stats.fraudPercentage.toFixed(2) }}%</p>
    </div>
  </div>

  <!-- 🔥 Filters + Main Chart Side-by-Side -->
  <div class="chart-flex-row">

    <!-- Filters (Left Side) -->
    <div class="filter-panel">
      <div class="filter-group">
        <label>Select MCC</label>
        <select [(ngModel)]="selectedMcc" (change)="reloadMccStats()">
          <option *ngFor="let m of mccList" [value]="m">{{ m }}</option>
        </select>
      </div>

      <div class="filter-group">
        <label>Select Date</label>
        <input type="date" [(ngModel)]="selectedDate" (change)="reloadDailyStats()" />
      </div>

    </div>

    <!-- Chart (Right Side) -->
    <div class="card chart-card chart-large">
      <h3 class="subtitle">
        {{ activeChart === 'daily'
          ? '📅 Fraud Stats for ' + dailyStats?.date
          : '🏷️ ' + mccStats?.mcc + ' Fraud Breakdown'
        }}
      </h3>

      <div class="chart-container">
        <canvas id="mainChart"></canvas>
      </div>
    </div>

  </div>

  <!-- Fraud Ratio (Full Width Below) -->
  <div class="card chart-card" *ngIf="stats">
    <h3 class="subtitle">🧮 Clean Ratio ({{cleanRatio}} %)</h3>
    <div class="chart-container">
      <canvas id="fraudRatioChart"></canvas>
    </div>
  </div>

</div>
